*{
    padding: 0;
    margin: 0;
}
/*Bakgrundsfärg*/
body{
    background-color: rgb(128, 128, 128);
}
.inledning{
    margin: 10px;
    padding-bottom: 20px;
}
footer{
    background-color: black;
    display: none;
}
nav{
    display: none;
}
.startlink,.footlink{
    text-decoration: none;
}
#armenlink:hover{
    color: rgb(0, 138, 0);
}
#marinenlink:hover{
    color: blue;
}
#flyglink:hover{
    color:rgb(68, 94, 114);
}
#kustlink:hover{
    color: red;
}
.startlink:visited,link{
    color: white;
}
.startlink{
    font-size: 125%;
}
.startpicstyle{
    margin: 0;
    padding: 0;
    width: 20%;
}
 /*Navbar i botten på sidan*/
 nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 69, 29);
    display: none;
  }
  nav.show{
    display: block;
  }
  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li{
    display: inline-block;
    margin-right: 20px;
  }
  nav a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  nav li.active a{
    background-color: #ccc;
  }
  /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
@media only screen and (max-width: 480px){
    .startlink,.startpicstyle{
        display: none;
    }
    /*Visar footern när skärmen blir mindre än 480px*/
    footer{
        display: unset !important;
    }
    #armenlink{
        color: rgb(0, 138, 0);
    }
    #marinenlink{
        color: blue;
    }
    #flyglink{
        color:rgb(68, 94, 114);
    }
    #kustlink{
        color: red;
    }
      }  