*{
    padding: 0;
    margin: 0;
    
}
/*Bakgrundsfärg*/
body{
    background-color: rgb(128, 128, 128);
}
.inledning{
    margin: 10px;
    padding-bottom: 20px;
}
h1,.startlink,.footlink{
    font-family: 'forsvarsmakten_sansstencil';
}
p{
    font-family: 'forsvarsmakten_sansregular';
}
footer{
    background-color: black;
    display: none;
}
nav{
    display: none;
}
.startlink,.footlink{
    text-decoration: none;
}
#armenlink:hover{
    color: rgb(0, 138, 0);
}
#marinenlink:hover{
    color: blue;
}
#flyglink:hover{
    color:rgb(68, 94, 114);
}
#kustlink:hover{
    color: red;
}
.startlink:visited,a{
    color: white;
}
.startlink{
    font-size: 125%;
}
.startpicstyle{
    margin: 0;
    padding: 0;
    width: 20%;
}
 /*Navbar i botten på sidan*/
 nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 69, 29);
    display: none;
  }
  nav.show{
    display: block;
  }
  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li{
    display: inline-block;
    margin-right: 20px;
  }
  nav a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  nav li.active a{
    background-color: #ccc;
  }
  #button{
    display: none;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 480px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
@media only screen and (max-width: 480px){
    .startlink,.startpicstyle{
        display: none;
    }
    /*Visar footern när skärmen blir mindre än 480px*/
    footer{
        display: unset !important;
    }
    #armenlink{
        color: rgb(0, 138, 0);
    }
    #marinenlink{
        color: blue;
    }
    #flyglink{
        color:rgb(68, 94, 114);
    }
    #kustlink{
        color: red;
    }
    #button{
        font-family: 'forsvarsmakten_sansstencil';
        background: yellow;
        width: 100%;
        position: fixed;
        bottom: 0;
        text-align: center;
        font-size: 7vw;
        display: unset !important;
        
      }
      }  