*{
    padding: 0;
    margin: 0;
    font-family: 'forsvarsmakten_sansstencil';
}
/*Bakgrundsfärg*/
body{
    background-color: rgb(171, 171, 171);
}
body ::selection {
    background: green;
}
.inledning{
    margin: 10px;
    padding-bottom: 20px;
}

p{
    font-family: 'forsvarsmakten_sansregular';
    text-decoration-color: rgb(0, 0, 0);
}
footer{
    background-color: black;
    display: none;
}
nav{
    display: none;
}
a{
    text-decoration: none;
}
/*Färger för länkar på landingssidan*/
.armenlink:hover{
    color: rgb(0, 138, 0);
}
.marinenlink:hover{
    color: blue;
}
.flyglink:hover{
    color:rgb(68, 94, 114);
}
.kustlink:hover{
    color: red;
}
/*Färger för länkar på sidan om armén*/
.infolink:hover{
    color: rgb(0, 138, 0);
}

.startlink:visited,a{
    color: white;
}
.startlink{
    font-size: 125%;
}
.startpicstyle{
    margin: 0;
    padding: 0;
    width: 20%;
}

  #button{
    display: none;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 480px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
@media only screen and (max-width: 480px){
    .startlink,.startpicstyle{
        display: none;
    }
    /*Visar footern när skärmen blir mindre än 480px*/
    footer{
        display: unset !important;
        font-size: 4vw;
    }
    .armenlink{
        color: rgb(0, 138, 0);
    }
    .marinenlink{
        color: blue;
    }
    .flyglink{
        color:rgb(68, 94, 114);
    }
    .kustlink{
        color: red;
    }
    #button{
        font-family: 'forsvarsmakten_sansstencil';
        background-color: yellow;
        width: 100%;
        position: fixed;
        bottom: 0;
        text-align: center;
        font-size: 9vw;
        display: unset !important;
        
      }
      #button:active{
        background-color: rgb(208, 208, 0);
      }
      }  